.catalog {
  padding: 93px 30px 127px;
  background-color: $dark-blue;

  @media (max-width: $desktop-width) {
    padding: 53px 10px 32px;
  }

  @media (max-width: $tablet-width) {
    padding: 53px 0 32px;
  }
}

.catalog h2 {
  font-family: "Roboto Condensed", "Arial Black", sans-serif;
  font-weight: normal;
  color: $white;
  font-size: 36px;
  line-height: 51px;
  max-width: 1170px;
  margin: 0 auto 47px;

  @media (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 140.62%;
    width: 615px;
    margin: 0 15px 46px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    margin: 0 15px 37px;
    width: 100%;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.catalog__item {
  position: relative;
  width: 370px;
  height: 620px;
  margin: 0 15px 46px;
  padding: 53px 44px 93px;

  @media (max-width: $desktop-width) {
    width: 720px;
    height: 256px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    height: 256px;
  }
}

.catalog__item span {
  font-family: "Roboto Condensed", "Arial Black", sans-serif;
  position: relative;
  z-index: 2;
  color: $white;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: $desktop-width) {
    width: 160px;
    display: inline-block;
    vertical-align: auto;
  }
}

.catalog__image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}

.catalog__item::after {
  content: "";
  width: 63px;
  height: 63px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: 4;
  background-color: $blue;
  background-image: url("../img/svg/catalog-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog__item:hover .catalog__image {
  opacity: 0.6;
}
