footer {
  padding: 65px 0 14px;
}

.footer__content-container {
  margin: 0 auto;
  max-width: 1420px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}


.footer__heading {
  margin: 0;
  color: $dark-gray;
  font-family: "Roboto Condensed", "Arial Black", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 28px;
  margin-top: 28px;
}

.footer__company-dates {
  display: none;

  @media (max-width: $desktop-width) {
    display: inline-block;
    text-align: center;
    width: auto;
    margin: 0 auto;
    vertical-align: baseline;
    margin-top: 17px;
    font-size: 13px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-gray;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {

  }
}

.footer__top-block {
  @media (max-width: $desktop-width) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__top-block .logo {
  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: 215px;
  }
}

.footer__button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 26px;
    height: 26px;
    margin-top: 18px;
    margin-bottom: 18px; 
    background-image: url("../img/svg/footer-button-close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }
}

.footer__button--close {
  @media (max-width: $tablet-width) {
    background-image: url("../img/svg/footer-button.svg");
  }
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__list--navigation {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.footer__list--hide {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
