.office {
  width: 335px;
  margin-left: 50px;

  @media (max-width: $desktop-width) {
    padding-right: 25px;
    justify-self: end;
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
    padding: 0 15px;
    width: 100%
  }
}

.office__list {
  list-style: none;
  padding: 0;
}

.office__element {
  color: $dark-gray;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.office__element p {
  margin-top: 1px;
  margin-bottom: 0;
}

.office__element address {
  margin: 5px 0;
  font-style: normal;
}