.page {
  margin: 0 auto;
  scroll-behavior: smooth;
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.page__body--hidden {  
  overflow: hidden;
  height: 100vh;
}

.page__advantages-and-about-us {
  background-color: $white;
  min-height: 900px;
  background-position: -5px -30px;
  background-image: url("../img/advantages/advantages-background-desktop.svg");
  background-size: cover;

  @media (max-width: $desktop-width) {
    min-height: auto;
    background-image: url("../img/advantages/advantages-background-tablet.svg");
  }
}