$white: #FFFFFF;
$light-white: rgba(255, 255, 255, 0.1);
$black: #000000;
$popup-black: rgba(0, 0, 0, 0.5);
$gray-logo: #788891;
$blue: #00B2FF;
$gray: #666666;
$light-black: #1B2D37;
$dark-blue: #1B2D37;
$light-gray: rgba(98, 105, 98, 0.2);
$border-gray: #EBEBEB;
$dark-gray: #1B2D37;


$tablet-width: 767px;
$desktop-width: 1023px;
